.jumbotron {
    background-image: url("./yosemite-merced.jpg");
    background-size: cover;
    color: white;
}

.display-4 {
    text-shadow: -2px 2px #101010;
}

.container .link-button {
    background-color: green;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 10px;

}

.lead {
    text-shadow: -1px 1px #101010;
}

.link-button:hover {
    box-shadow: 2px 2px rgb(43, 41, 41);
}